

@import "defaults";

#viewport {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: sans-serif;
}


#cesium_attribution {
  visibility: hidden;
}

#cesium_custom_attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #333;
  background-color: #fff;
  padding: 1px 5px 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 0;
  border-width: 1px 0 0 1px;
  font-size: .69em;
  line-height: 1.0em;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  z-index: $layer-gui;
}

#cesium_save{
  position: absolute;
  right: 84px;
  top: 7px;
  height: 32px;
  z-index: 5;
}

#bb_selection{
  position: absolute;
  right: 210px;
  top: 7px;
  height: 32px;
  z-index: 5;
}

.cesium-viewer-geocoderContainer{
  right: 127px !important;
}

.darkbutton{
  background-color: #333 !important;
  border-color: #444 !important;
}

.darkbutton:hover{
  background-color: #48b !important;
  border-color: #aef !important;
}

.cesium-viewer{
    background-color: white;
}

#selection .btn{
  font-size: 12px;
}

.twipsy{
  display: none;
  pointer-events: none!important;
}

#play_button{
  position: absolute;
  top: 10px;
  z-index: 1050;
}

#timestamp{
  position: absolute;
  width: 175px;
  text-align: center;
  height: 30px;
  left: 50%;
  margin-left: -88px;
  padding-top: 4px;
  bottom: 170px;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  display:none;
}

#pickingresults{
  position:absolute;
  width:35%;
  height:35%;
  display: block;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
  border-radius: 4px;
  right: 38px;
  bottom: 160px;
  background-color: white;
  display:none;
}



#pickingresultcontainer{
  height: calc(100% - 20px);
  top: 25px;
}

/*.y2AxisLabel.axisLabel {
  display: none!important;
}*/

#analyticsSavebutton{
  position: absolute;
  left: 30px;
  top: 1px;
  color: #428bca;
  font-size: 1.6em;
  cursor: pointer;
}

#analyticsSavebutton:hover{
  color: #296aa2;
}

#listdisplay{
  position: absolute;
  top: 40px;
}

#heightcontrols {
  position: absolute;
  z-index: $layer-gui;
  margin:0px auto;
  left:0;
  right:0;
  bottom: 130px;
  text-align: center;
  font-size: 2.3em;
  transform: rotate(90deg);
  margin-left: 230px;
  display: none;
}

#heightPlayButton i {
  transform: rotate(-90deg);
}

#heightvalue {
  z-index: $layer-gui;
  position: absolute;
  width: 90px;
  text-align: center;
  height: 30px;
  left: 50%;
  padding-top: 4px;
  margin-left: 145px;
  bottom: 135px;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  display:none;
}