

#processes{
    width: 23.8em;
    top: 10em;
    left: 29.5em;
    font-size: .9em;
    position: absolute;
}

#processes .panel-body button{
    margin-bottom: 10px;
}

.darkbutton{
    background-color: #333 !important;
    border-color: #444 !important;
}

.progresslabel{
    padding-top: 4px;
    display: inline-block;
}


.progress.Failed{
    background-color: #ffb4b4!important;
}

.progress.Started{
    background-color: #a8cad0!important;
}

.progress.Succeeded{
    background-color: #b5ccae!important;
}

.collapse_object.collapsed>.fa.fa-chevron-down{
    display: inline-block;
}

.collapse_object.collapsed>.fa.fa-chevron-up{
    display: none;
}
.collapse_object>.fa.fa-chevron-down{
    display: none;
}

.processlabel{
    float: left;
    margin-right: 15px;
}

#processcontainer{
    width:100%;
    margin-bottom:15px;
    margin-top: 20px;
}

#processcontainer .form-group{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

#processList{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-group button.ui-datepicker-trigger {
    display: none;
}