#filtertext{
  width: 100%;
  margin-top: 10px;
}

#modal-product-search{
  width: 30em;
  top: 9em;
  margin: 0 0 0 -40em;
}

h4 > a{
  font-size: 0.8em;
}


.highlight-droppable{
  background-color: #C2EFD6;
}
