<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-book"></i> Indicator Management</h3>
</div>
<div class="panel-body">
	<div style="width:100%; margin-bottom:15px;" id="searchcontainer">
	    <input id="searchinput" type="text" name="search" placeholder="Search ..." style="width:100%;border:1px;padding:4px;"/>
	</div>
    <div id="products"></div>
</div>
