<div class="input-group">
    <span class="input-group-addon favouriteContainer {{#if favourite}}active{{else}}inactive{{/if}}">
        {{#if favourite}}
        <i class="fa fa-star favouriteIcon"></i>
        {{else}}
        <i class="fa fa-star-o favouriteIcon"></i>
        {{/if}}
    </span>
    <span class="form-control">{{name}}</span>
</div>
