<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About </h3>
    </div>
    <div class="modal-body modal-body-about">
		<p style="font-size:1.4em">AMiDA</p>
		<p style="margin-top:25px;">
			The scope of the AMiDA project is to design, implement and demonstrate the functionalities of an
			infrastructure for access and distribution of a wide variety of EO data in the field of
			Atmospheric Sciences: heritage, current, and future missions will be managed by the platform, to
			allow the users accessing, visualizing and downloading a meaningful subset of this growing data
			stream.
		</p>
		<div style="height:80px;">
			<div><img style="float:left; width:24%; margin-top:5px;" src="../images/logos/sistema.jpg" alt="SISTEMA logo"></div>
			<div><img style="float:left; width:24%; margin-top:14px;" src="../images/logos/EOX_Logo.png" alt="EOX logo"></div>
			<div><img style="float:left; width:24%; margin-top:19px;" src="../images/logos/catalysts.png" alt="Catalysts logo"></div>
			<div><img style="float:left; width:24%" src="../images/logos/esa.png" alt="European Space Agency logo"></div>
		</div>
	</div>
  </div>
</div>
