<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About VirES</h3>
    </div>
    <div class="modal-body modal-body-about">
    	<div><img style="width:20%; position:absolute; right:20px; top:-10px" src="/static/tamp_client/images/logos/esa.png" alt="European Space Agency logo"></div>
		
		<p style="font-size:1.4em">APP4AQ-p2</p>
		<p style="margin-top:25px;">APP4AQ-p2 has the principal aim of making satellite data and further derived products
accessible to end-users such as authorities, air pollution experts and organisations that
are involved in regional- and local-scale air quality management, health impact
assessment and related epidemiology.</p>
		<p>The vision of APP4AQ-p2 is facilitating air quality
analysis and decision support exploiting new and upcoming satellite data and the combined
use and processing with other air pollution information from monitoring and modelling.</p>
 
	   	<div class="row" style="margin-top:30px;margin: auto; max-width: 800px;">
	   		<div class="col-md-2" style="text-align:center;"></div>
	   		<div class="col-md-3" style="text-align:center;margin-top: 25px;"><img class="img-responsive" style="vertical-align: middle" src="/static/tamp_client/images/logos/EOX_Logo.png" alt="EOX IT Services GmbH logo"></div>
	   		<div class="col-md-3" style="text-align:center;margin-top: 25px;"><img class="img-responsive" style="vertical-align: middle" src="/static/tamp_client/images/logos/sistema.jpg" alt="SISTEMA Logo"></div>
	   		<div class="col-md-2" style="text-align:center;"><img class="img-responsive" style="vertical-align: middle" src="/static/tamp_client/images/logos/ZAMG_logo.png" alt="ZAMG Logo"></div>
	   		<div class="col-md-2" style="text-align:center;"></div>
	   	</div>


	</div>
  </div>
</div>
