<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-globe"></i> Favourite Indicators</h3>
</div>
<div class="panel-body">
    <div id="overlays"></div>
    <div id="products"></div>
    <div id="disclaimer" style="font-size:0.8em;margin-left:20px;margin-bottom:8px;">
        Additional data can be found in "Indicator Management" <i class="fa fa-fw fa-book"></i>
    </div>
    <div id="baseLayers"></div>
</div>
