<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-globe"></i> Favourite Layers</h3>
</div>
<div class="panel-body">
    <div id="overlays"></div>
    <div id="products"></div>
    <div id="disclaimer" style="font-size:1.0em;margin-left:20px;margin-bottom:8px;">
        Additional layers can be found under <i class="fa fa-fw fa-book"></i> Data Management
    </div>
    <div id="baseLayers"></div>
</div>
