<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-gears"></i> Processes</h3>
</div>
<div class="panel-body">
    <div>
      <span style="width:250px;display:inline-block;">  Created </span>
      <span style="width:270px;display:inline-block;"> Progress </span>
      <span style="width:100px;display:inline-block;"> Info </span>
    </div>
    <div id="processList"></div>
    <div style="width:100%; margin-bottom:15px;" id="processcontainer">
    </div>
</div>
