<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h4 class="panel-title"><i class="fa fa-fw fa-gears"></i> Processes</h4>
</div>
<div class="panel-body">
    <div class="titleelement"><h4>Process Overview</h4></div>
    <div>
      <span style="width:250px;display:inline-block;">  Created </span>
      <span style="width:270px;display:inline-block;"> Progress </span>
      <span style="width:100px;display:inline-block;"> Info </span>
    </div>
    <div id="processList"></div>
    <div class="titleelement"><h4>Process controls</h4></div>
    <div id="selectioncontainer"></div>
    <div id="processcontainer">
    </div>
</div>
