
<section id="cover" class="cover active" data-zoom="-10000000" data-events="layout:switch:singleview" data-reset="">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <small class='scroll'>Scroll ▼</small>
    <h3>SATELLITE-BASED AEROSOL INTERCOMPARISON</h3>
    <h4>Use case 1</h4>
    <p>This Tutorial demonstrates the necessary steps to visualize and process aerosol related data.</p>
    <p>It is an interactive Tutorial so you just need to scroll down to see the functionality of the application.</p>
    <p>The tutorial can be closed at any point in time.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-events="ui:open:layercontrol" data-bbox="-30.0,23.0,30.0,56.0">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Layer Selection</h3>
    <p>In order to visualise a product we first have to activate it in the Favourite Layer Selection Window.</p>
    <p>We have just opened it, you can see it on the left side of the screen.</p>
    <p>You can open and close it at any time by clicking in the navigation bar (top of the screen) on the <i class="fa fa-fw fa-globe"/> Favourite Layers button.</p>
    <p>You can move the window to another position by clicking and dragging on its header.</p>
    <p>We also selected a bounding box of interes you can now see on the globe, only data inside this bbox wil be loaded.</p>
    <p>The bounding box can be manually selected by clicking on Tools and selecting the bounding box tool.>/p>
    <p>A product can be activated by clicking on its corresponding check box, we will do this now.</p>
</section>
<section data-layers="AMIDA_UC1_POLDER_L2_MODEL_AOD565_4326_0055211" data-settings="AMIDA_UC1_POLDER_L2_MODEL_AOD565_4326_0055211">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Settings</h3>
    <p>Now the product has been activated and is rendered in the 3D globe.</p>
    <p>The availability of the product is additionally displayed in the bottom time-line as well as the currently selected time interval. You can create a new time interval selection by clicking and dragging on the time-line. The current time selection (grey area) can also be modified by clicking and dragging it or extending the (left and right) edges.</p>
    <p>It is possible to zoom in and out using the mouse wheel over the time-line as well as panning by clicking and dragging on the bottom of the time-line.</p>
    <p>Additionally we opened the product settings window (on the right). Product settings can be accessed by clicking on the <i class="fa fa-sliders"/>-symbol of a product.</p>
    <p>At any point you can use the "Save as Image" button of the 3D Globe (top right) to save the current visualisation.</p>
</section>
<section data-events="ui:open:processManagement">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h4>We now have opened the Processing Panel.</h4>
    <p>Here you can set all sorts of configurations.</p>
</section>


<div style="height: 35em;"><!-- FIXME --></div>
