
<section id="cover" class="cover active" data-zoom="-10000000" data-reset="">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <small class='scroll'>Scroll ▼</small>
    <h3>Use case 5</h3>
    <h4>SYNERGISTIC AEROSOL RETRIEVAL FROM SATELLITE</h4>
    <p>This Tutorial demonstrates an example workflow for the currently selected use case.</p>
    <p>It is an interactive Tutorial so you just need to scroll down to see the functionality of the application.</p>
    <p>The tutorial can be closed at any point in time.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-events="ui:open:dataManagement" data-favourites="S3A_OL_1_ERR_4326_0003;S3A_SL_1_RBT">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Data management</h3>
    <p>In order to visualise a product we first have to look for the ones we are interested in the "Data Management" panel.</p>
    <p>There is a search box at the top that allows filtering based on product name or description as you type in a keyword.<p>
    <p>We have just opened it, you can see it on the right of the screen.</p>
    <p>We also have set a star to both products we will be looking at during this tutorial. This means they are selected as favourites and in your next visit they will already be available in the "Favourites" panel. Lets look at that panel next.</p>
</section>
<section data-events="ui:open:layercontrol;ui:open:dataManagement" data-time="2022-01-19T00:00:00Z/2022-02-24T23:59:00Z">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Layer Selection</h3>
    <p>Now we have opened the "Favourite Layers" panel and you can see (at least) two Layers, MERIS and POLDER layers.</p>
    <p>We will activate both layers in the next step which will show the data availability in the timeline at the bottom.</p>
    <p>Before we look at the data itself, a short excursion into time and area selection.</p>
    </br>
</section>

<section data-bbox="7.040429,39.072606,16.86636,42.4589" data-zoom="2000000.0" data-longitude="16.46" data-latitude="40.23" data-layers="S3A_OL_1_ERR_4326_0003;S3A_SL_1_RBT">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Area Selection</h3>
    <p>We are interested in an event happening in Innsbruck (Austria). It is good practice to first select the area of interest by opening the "Tools" panel, selecting the bbox (square) tool, click on the map to start drawing a rectangle and click on a point again to stop drawing. Creating a boundign box first reduces the amount of data that needs to be loaded only fetching the area you are interested in. We have created an exemplary selection already for you.</p>
</section>
<section data-timedomain="2017-02-01T00:00:00Z/2017-02-28T23:59:00Z">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Time Selection</h3>
    <p>We also know the event happened around February 2017, so we have moved the fully interactive time line at the bottom to that time domain. You can interact with the timeline by using the mousewheel when the cursor is over it, to zoom in and out the timespan. You can also click and drag the bottom area of the timeline to pan in time left and right. If you already know which days you want to investigate, you can also use the day selection widget at the right corner of the timeline.</p>
    <p>The timeline also shows points when data is available, this is also dependent on the area selection.</p>
    <p>Now that we see the availability, we can also identify common date ranges and we can click and drag on the top part of the timeline to create a time selection of interest, this will then start retrieving the data to be displayed. This will be done automatically in the next step.</p>
</section>
<section data-time="2017-02-13T00:00:00Z/2017-02-15T23:59:00Z" data-settings="S3A_OL_1_ERR_4326_0003">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Data Visualization</h3>
    <p>Now the download progress is displayed.</p>
    <p>Once the download is finished, you will see the data displayed on the globe.</p>
    <p>You can change the data visualization settings for each layer by clicking the <i class="fa fa-sliders"/>-symbol of a layer.</p>
    <p>The layer settings panel has already been opened, you can play with colorscale style and value range, try it out!</p>
</section>
<section data-settings="S3A_OL_1_ERR_4326_0003">
    <p>In order to analyze the data through time on one location we can use the picking tool. By clicking on "Tools" in the navigation bar and selecting the "Pin" symbol it is possible to place a pin on the globe. This will extract the value on that location for all available data products and display it as a time series in a scatter plot.</p>
</section>
<section data-picking="15.8324,40.5795">
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Time Series</h3>
    <p>We now selected a point using the picking tool for you and thus a time series has appeared. There are two different sets of points, one for the each selected layer. Having them plotted together allows easy comparison between them throughout the time. </p>
    <p>The scatter plot tool has many configuration options. By clicking on the labels of the datasets a configuration panel appears where it is possible to change the plot style, such as point type, size, color, to be connected by a line.</p>
    <p>It is possible to increase the size of the window by clicking the two arrows on the top left corner.<p>
    <p>Once changes to style are as expected, it is possible to save the plot as an image to further use it for publications or as reference.</p>
    <p>If the represented data is of more interest, it is also possible to download it as comma separated values (CSV) file, which should allow easy integration into other software applications.</p>
</section>
<section>
    <span class="close"><i class="fa fa-times-circle"/></span>
    <h3>Interact and explore!</h3>
    <p>We hope this tutorial has provided a good overview on many of the features possible with this interface.</p>
    <p>Now that you are more familiar with it, we recommend go and browse and analyze all of the available data!</p>
</section>
<div style="height: 35em;"><!-- FIXME --></div>
